from .base import BaseBot

from typing import Any, List, Optional, Union
import datetime
from ...utils.mixins import ContextInstanceMixin
from ..types import UNSET

{% for group in groups %}{% for entity in group.childs %}
from ..{% if entity.is_method %}methods{% else %}types{% endif %} import {{ entity.name|class_name }}
{%- endfor %}{% endfor %}

class Bot(BaseBot):
    """
    Class where located all API methods
    """

{% for group in groups %}{% if group.has_methods %}
	# =============================================================================================
	# Group: {{ group.title }}
    # Source: https://core.telegram.org/bots/api#{{ group.anchor }}
	# =============================================================================================
    {% for entity in group.childs %}{% if entity.is_method %}
    async def {{ entity.name|pythonize }}(
        self,
        {% for annotation in entity.annotations %}
            {{ annotation.python_name }}:{{ annotation.python_type }}{% if annotation.python_default_value %} = {{ annotation.python_default_value }}{% endif %},
        {% endfor %}
        request_timeout: Optional[int] = None,
    ) -> {{ entity.python_returning_type }}:
        """
        {{ entity.pretty_description|indent(width=8) }}

        Source: https://core.telegram.org/bots/api#{{ entity.anchor }}

        {% for annotation in entity.annotations -%}
        :param {{ annotation.python_name }}: {{ annotation.pretty_description|first_line|indent(width=12)  }}
        {% endfor -%}
        :param request_timeout: Request timeout
        :return: {{ entity.returning|first_line|limit_length(width=82)|indent(width=12) }}
        """
        call = {{ entity.name|class_name }}(
        {% for annotation in entity.annotations %}
            {{ annotation.python_name }}={{ annotation.python_name }},
        {% endfor %}
        )
        return await self(call, request_timeout=request_timeout)
    {% endif %}{% endfor %}
{% endif %}{% endfor %}
