from __future__ import annotations
from pydantic import Field
from .base import TelegramMethod, Request, Response, prepare_input_media, prepare_media_file, prepare_parse_mode, prepare_file
from ..types import UNSET

{% if imports %}
{%- if imports.extra %}{% for import in imports.extra %}{{ import }}
{% endfor %}{% endif %}
{% if imports.typing %}from typing import {{ imports.typing|join(', ') }}{% endif %}
{% if imports.telegram %}
{% for import in imports.telegram %}from ..types import {{ import }}
{% endfor %}
{%- endif %}
{%- endif %}
if TYPE_CHECKING:
    from ..client.bot import Bot

class {{ entity.name|class_name }}(TelegramMethod[{{ entity.python_returning_type }}]):
    """
    {{ entity.pretty_description|indent(width=4) }}

    Source: https://core.telegram.org/bots/api#{{ entity.anchor }}
    """
    __returning__ = {{ entity.python_returning_type }}

{% for annotation in entity.annotations %}
    {{ annotation.python_field }}
    """{{ annotation.pretty_description|first_line|indent(width=4) }}"""
{%- endfor %}
    def build_request(self, bot: Bot) -> Request:
        data: Dict[str, Any] = self.dict({% if entity.file_annotations %}exclude={ {% for annotation in entity.file_annotations %}"{{ annotation.python_name }}"{% if not loop.last %}, {% endif %}{% endfor %} }{% endif %})
        {% if EXTRA['methods'][entity.name] %}{{ EXTRA['methods'][entity.name]|indent(width=8) }}{% else %}
        {% set parse_mode_property, entities_property = entity.parse_mode_annotations %}
        {% if parse_mode_property %}
        prepare_parse_mode(bot, data, parse_mode_property='{{ parse_mode_property }}', entities_property='{{ entities_property }}')
        {% endif %}

        {% if entity.file_annotations %}files: Dict[str, InputFile] = {}{% endif %}
        {%- for file in entity.file_annotations %}
        prepare_file(data=data, files=files, name="{{ file.name }}", value=self.{{ file.python_name }})
        {%- endfor %}

        return Request(method="{{ entity.name }}", data=data{% if entity.file_annotations %}, files=files{% endif %})
        {% endif %}
