{{ entity.name|header('#') }}
{{ entity.name }}
{{ entity.name|header('#') }}

{{ entity.description|md_line_breaks }}

Returns: :obj:`{{ entity.python_returning_type }}`

.. automodule:: aiogram.api.methods.{{ entity.pythonic_name }}
    :members:
    :member-order: bysource
    :special-members: __init__
    :undoc-members: True


Usage
=====

As bot method
-------------

.. code-block::

    result: {{ entity.python_returning_type }} = await bot.{{ entity.pythonic_name }}(...)


Method as object
----------------

Imports:

- :code:`from aiogram.methods import {{ entity.name|class_name }}`
- :code:`from aiogram.api.methods import {{ entity.name|class_name }}`
- :code:`from aiogram.api.methods.{{ entity.pythonic_name }} import {{ entity.name|class_name }}`

In handlers with current bot
----------------------------

.. code-block::

    result: {{ entity.python_returning_type }} = await {{ entity.name|class_name }}(...)

With specific bot
~~~~~~~~~~~~~~~~~

.. code-block::

    result: {{ entity.python_returning_type }} = await bot({{ entity.name|class_name }}(...))

{% if entity.can_be_used_in_webhook -%}
As reply into Webhook in handler
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.. code-block::

    return {{ entity.name|class_name }}(...)
{%- endif %}
