#######
Methods
#######

Here is list of all available API methods:

{% for group in groups %}
{%- if group.childs and group.has_methods %}
{{ group.title }}
{{ group.title|header('=') }}

.. toctree::
    :maxdepth: 1
{% for entity in group.childs %}
{%- if entity.is_method %}
    {{ entity.pythonic_name }}
{%- endif %}
{%- endfor %}
{%- endif %}
{% endfor %}

