from __future__ import annotations

from pydantic import Field

from .base import TelegramObject

{% if imports %}
{%- if imports.extra %}{% for import in imports.extra %}{{ import }}
{% endfor %}{% endif %}
{% if imports.typing %}from typing import {{ imports.typing|join(', ') }}{% endif %}
{% if imports.telegram %}
if TYPE_CHECKING:  # pragma: no cover
    {% for import in imports.telegram|sort %}from .{{ import|pythonize }} import {{ import }}
    {% endfor %}
{%- endif %}
{%- endif %}

class {{ entity.name }}({{ (entity.extends or ['TelegramObject'])|join(', ') }}):
    """
    {{ entity.description|limit_length(width=95)|indent(width=4) }}

    Source: https://core.telegram.org/bots/api#{{ entity.anchor }}
    """
{% for annotation in entity.annotations %}
    {{ annotation.python_field }}
    """{{ annotation.description|first_line|limit_length(width=92)|indent(width=4) }}"""
{%- else %}
    pass
{% endfor %}
