{{ entity.name|header('#') }}
{{ entity.name }}
{{ entity.name|header('#') }}

{{ entity.description|md_line_breaks }}

.. automodule:: aiogram.api.types.{{ entity.pythonic_name }}
    :members:
    :member-order: bysource
    :special-members: __init__
    :undoc-members: True
