{{ entity.name|header('#') }}
{{ entity.name }}
{{ entity.name|header('#') }}


.. automodule:: aiogram.types.{{ entity.pythonic_name }}
    :members:
    :member-order: bysource
    :undoc-members: True
